@font-face {
  font-family: NokiaPureHeadline;
  src: url('public/fonts/NokiaPureHeadline_Ultralight.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureHeadline_Ultralight.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureHeadline_Ultralight.ttf')  format('truetype');
  /* Safari, Android, iOS */
  font-weight: 100;
}

@font-face {
  font-family: NokiaPureHeadline;
  src: url('public/fonts/NokiaPureHeadline_Light.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureHeadline_Light.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureHeadline_Light.ttf')  format('truetype');
  /* Safari, Android, iOS */
  font-weight: 200;
}

@font-face {
  font-family: NokiaPureHeadline;
  src: url('public/fonts/NokiaPureHeadline_Regular.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureHeadline_Regular.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureHeadline_Regular.ttf')  format('truetype');
  /* Safari, Android, iOS */
  font-weight: 300;
}

@font-face {
  font-family: NokiaPureHeadline;
  src: url('public/fonts/NokiaPureHeadline_Regular.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureHeadline_Regular.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureHeadline_Regular.ttf')  format('truetype');
  /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: NokiaPureHeadline;
  src: url('public/fonts/NokiaPureHeadline_Bold.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureHeadline_Bold.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureHeadline_Bold.ttf')  format('truetype');
  /* Safari, Android, iOS */
  font-weight: 400;
}

@font-face {
  font-family: NokiaPureHeadline;
  src: url('public/fonts/NokiaPureHeadline_Bold.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureHeadline_Bold.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureHeadline_Bold.ttf')  format('truetype');
  /* Safari, Android, iOS */
  font-weight: bold;
}

@font-face {
  font-family: NokiaPureHeadline;
  src: url('public/fonts/NokiaPureHeadline_ExtraBold.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureHeadline_ExtraBold.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureHeadline_ExtraBold.ttf')  format('truetype');
  /* Safari, Android, iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'NokiaPureSymbols';
  src: url('public/fonts/NokiaPureSymbols.eot');
  /* IE9 Compat Modes */
  src: url('public/fonts/NokiaPureSymbols.eot?') format('embedded-opentype'), 
    url('public/fonts/NokiaPureSymbols.ttf')  format('truetype');
  /* Safari, Android, iOS */
}

html,
body {
  font-family: NokiaPureHeadline, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 4vw;
}

.title {
  font-weight: bold;
}

.go-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

.header {
  background: #fff;
  padding: 6% 0px 5% 0px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.footer {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.info2,
.error-wrapper,
.wrapper-shutter,
.button-go-wrapper,
.result,
.trigger,
.selected-image {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
  z-index: 4;
}

.info2,
.error-wrapper,
.wrapper-shutter,
.selected-image,
.trigger,
.result {
  z-index: 4;
  display: flex;
  justify-content: center;
}

.error-wrapper {
  flex-direction: column;
}

.error-wrapper {
  font-weight: bold;
  color: #fff;
}

.error-wrapper img {
  margin-top: 20%;
  max-width: 33.33%;
  align-self: center;
}

.error-wrapper .message {
  flex-grow: 1;
  align-self: center;
}

.error-wrapper .oops {
  font-size: 6vw;
}

.btn-shutter-error {
  width: 25vw;
  height: 25vw;
  line-height: 25vw;
  left: 50%;
  margin-left: -12.5vw;
  position: absolute;
  text-align: center;
  display: inline-block;
  bottom: 0;
  z-index: 2;
  color: #fff;
  padding-bottom: 30%;
}

.loading-text-error {
  width: 25vw;
  height: 25vw;
  line-height: 25vw;
  left: 50%;
  margin-left: -12.5vw;
  position: absolute;
  text-align: center;
  display: inline-block;
  bottom: 0;
  z-index: 2;
  color: #fff;
  padding-bottom: 30%;
}

.btn-shutter {
  width: 25%;
}

.loading-text {
  width: 25vw;
  height: 25vw;
  line-height: 25vw;
  left: 50%;
  margin-left: -12.5vw;
  position: absolute;
  text-align: center;
  display: inline-block;
  bottom: 0;
  z-index: 2;
  color: #fff;
  padding-bottom: 10%;
}

.btn-shutter,
.selected-image .actions {
  margin-bottom: 10%;
  align-self: flex-end;
}

.selected-image .actions {
  display: inline-block;
}

.info2 .info-wrapper,
.trigger .trigger-wrapper,
.result .result-wrapper {
  text-align: left;
  background: #fff;
  margin-bottom: 10%;
  display: inline-block;
  width: 100%;
  align-self: flex-end;
  padding: 5%;
}

.trigger .trigger-wrapper {
  padding: 0;
}

.trigger-header {
  padding: 5%;
}

.result-wrapper .description {
  text-align: justify;
}

.link-button {
  color: #003399;
}

.continue-wrapper {
  clear: both;
  text-align: center;
}

.continue-wrapper .btn-shutter {
  position: absolute;
  left: 50%;
  margin-left: -12.5vw;
  width: 25vw;
}

.info-button.continue {
  height: 25vw;
  width: 25vw;
  display: inline-block;
  line-height: 25vw;
  text-transform: uppercase;
  color: #124191;
}

.link-button.continue {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.category {
  width: 20vw;
  height: 20vw;
  margin-left: 5vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px dashed #ff9911;
  float: left;
  background-image: url(images/squareloop.gif);
  background-size: 100% 100%;
}

.trigger-header strong {
  text-transform: capitalize;
}

/* simple grid */



.text-center {
  text-align: center;
}

.col {
  float: left;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

@media (max-width: 600px) {
  .col-25 {
    width: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .col-50 {
    width: 60%;
  }
}

.carousel {
  overflow: hidden;
}

.carousel .img-wrapper {
  width: 15vw;
  height: 15vw;
  float: left;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #ff9911;
}

.carousel .img-wrapper img {
  width: 100%;
}

/* The starting CSS styles for the enter animation */

.fade.ng-enter {
  transition: 0.3s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */

.fade.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

/* The starting CSS styles for the enter animation */

.fade-galllery.ng-enter {
  transition: 0.1s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */

.fade-galllery.ng-enter.ng-enter-active {
  opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */

.fade-galllery.ng-leave {
  transition: 0.1s linear all;
  opacity: 1;
}

.fade-galllery.ng-leave.ng-leave-active {
  opacity: 0;
}

@media (min-width:360px)  and (max-width: 600px) {
  .col-25 {
    width: 15%;
    padding: 0;
  }

  .col-50 {
    width: 70%;
  }
}

@media (min-width:480px) and (max-width: 720px) {
  .col img {
    height: 50px;
  }
}

@media (min-width:360px) and (max-width: 480px) {
  .col img {
    height: 35px;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .col img {
    height: 30px;
  }
}

@media (min-width: 240px) and (max-width: 320px) {
  .col img {
    height: 25px;
  }
}

@media (max-width: 240px) {
  .col img {
    height: 20px;
  }
}