<div class="go-wrapper" ng-init="$ctrl.startVideo();" oncontextmenu="return false" ondragstart="return false" onselectstart="return false" unselectable="on">
    <div class="header row">
        <div class="info col col-25 text-center">
            <img ng-click="$ctrl.showInfo()" class="img-info" src="./images/Info.png">
        </div>
        <div class="logo col col-50 text-center">
            <img class="img-logo" src="./images/Logo.png">
        </div>
        <div class="light col col-25 text-center">
            <img ng-if="!$ctrl.isSwitchedOn" ng-click="$ctrl.toggleFlashLight()" class="img-info" src="./images/Light_Gray.png">
            <img ng-if="$ctrl.isSwitchedOn" ng-click="$ctrl.toggleFlashLight()" class="img-info" src="./images/Light_Orange.png">
        </div>
    </div>
    <div class="fade header-selected-image row" ng-if="$ctrl.selectedImage && $ctrl.fromGallery">
        <div class="col" style="float:right; margin-right: 5%" ng-click="$ctrl.deleteAction('open')">
            <img src="./images/Trash.png">
        </div>
        <div ng-click="$ctrl.cancel()">
            <div class="col" style="margin-left:5%">
                <img class="img-info" src="./images/Back.png">
            </div>
            <div class="col" style="font-size: 7vw;margin-left: 10px;">
                Back
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.error && $ctrl.loading" class="backdrop"></div>
    <div ng-init="$ctrl.resize()" ng-if="!$ctrl.error && $ctrl.loading" class="wrapper-shutter">
        <span class="loading-text">LOADING</span>
        <img ng-init="$ctrl.rotateIcon('#btn-shutter-outer')" class="btn-shutter" id="btn-shutter-outer" src="./images/Shutter_Outer.png"/>
    </div>
    <div ng-init="$ctrl.resize()" ng-if="!$ctrl.error && !$ctrl.selectedImage && !$ctrl.shutterHidden && !$ctrl.Loading && !$ctrl.infoShown" ng-init="$ctrl.resize()" class="fade wrapper-shutter">
            <img ng-init="$ctrl.rotateIcon('#btn-shutter')" class="btn-shutter" id="btn-shutter" src="./images/Shutter.png" ng-click="$ctrl.takePicture()"/>
    </div>
    <div ng-init="$ctrl.resize()" ng-if="$ctrl.selectedImage && $ctrl.fromGallery" class="fade selected-image" ng-style="{'background-image': 'url('+$ctrl.selectedImage.base64+')'}">
        <img  ng-if="!$ctrl.deleteConfirmation" ng-click="$ctrl.approve()" class="btn-shutter" src="./images/Go_Again.png"/>
        <div ng-if="$ctrl.deleteConfirmation" class="info-wrapper" style="font-weight: bold;background: rgba(255,255,255,0.8);margin-bottom: 40%">
            <p class="description">Are you sure you want to delete this image?</p>
            <div style="text-align: center"><span style="display: inline-block;margin-right: 30%;color:#da2d27"   ng-click="$ctrl.deleteAction('delete')">Yes</span> <span  ng-click="$ctrl.deleteAction('cancel')">Cancel</span></div>
        </div>
    </div>
    <div ng-if="$ctrl.selectedTrigger" class="backdrop"></div>
    <div ng-init="$ctrl.resize()" ng-if="$ctrl.selectedTrigger" class="fade trigger">
        <div class="trigger-wrapper">
             <div class="trigger-header">
                 <span class="title">{{$ctrl.selectedTrigger.item}}</span>
                 <br>
                 <span style="color:#98A2AE;font-size: 3.2vw">{{$ctrl.percentage.toFixed(2)}}% certain</span>
                 <br>
                 <br>
                 <span>Choose a use case for more information</span>
            </div>
            <div class="use-case-wrapper">
                <div class="use-case" ng-click="$ctrl.selectResult(usecase)" ng-repeat="usecase in $ctrl.selectedTrigger.usecases">
                    <img style="max-width: 100%" ng-src="./images/use_cases/{{usecase.item.split(' ').join('_')}}_220.png">
                </div>
            </div>
            <div class="use-case-wrapper">
                <div class="use-case-description" ng-click="$ctrl.selectResult(usecase)" ng-repeat="usecase in $ctrl.selectedTrigger.usecases">
                    {{usecase.item}}
                </div>
            </div>
            <div class="continue-wrapper">
                <span class="link-button continue" ng-click="$ctrl.cancel()">Cancel</span>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.selectedResult" class="backdrop"></div>
    <div ng-init="$ctrl.resize()" ng-if="$ctrl.selectedResult" class="fade result">
        <div style="width:25vw">
            <img  style="max-width: 100%;margin-bottom: 5vw;" ng-src="./images/use_cases/{{$ctrl.selectedResult.item.split(' ').join('_')}}.png">
        </div>
        <div class="result-wrapper">
            <div style="padding:0 5vw">
            <span ng-click="$ctrl.backToTrigger()" class="link-button back"><img style="float: left;margin-right: 2vw;" src="./images/Back_Blue.png">Back</span>
            <div>
                <span class="title">{{$ctrl.selectedResult.item}}</span>
            </div>
            <div>
                <p class="description" ng-bind-html="$ctrl.selectedResult.description | trustAsHtml"></p>
            </div>
            <div ng-if="$ctrl.selectedResult.category.category_name == 'Smart Cities' ||
            		    $ctrl.selectedResult.category.category_name == 'Utilities' ||
            		    $ctrl.selectedResult.category.category_name == 'Service Providers' ||
            		    $ctrl.selectedResult.category.category_name == 'Automotive Fleet'">
                <p class="description"><strong>Learn more about {{$ctrl.selectedResult.category.category_name}}:</strong></p>
            </div>
            <div ng-if="$ctrl.selectedResult.category.category_name != 'Smart Cities' &&
            		    $ctrl.selectedResult.category.category_name != 'Utilities' &&
            		    $ctrl.selectedResult.category.category_name != 'Service Providers' &&
            		    $ctrl.selectedResult.category.category_name != 'Automotive Fleet'">
                <p class="description"><strong>Learn more about the Nokia Internet of Things:</strong></p>
            </div>
            <div ng-if="$ctrl.selectedResult.category.category_name == 'Smart Cities' ||
            		    $ctrl.selectedResult.category.category_name == 'Utilities' ||
            		    $ctrl.selectedResult.category.category_name == 'Service Providers' ||
            		    $ctrl.selectedResult.category.category_name == 'Automotive Fleet'">
                <p class="description">
                	<span class="link-button" ng-click="$ctrl.onclick('-'+$ctrl.selectedResult.category.category_name)">https://networks.nokia.com/innovation/iot-{{$ctrl.selectedResult.category.category_name.replace(' ','-')}}</span>
               	</p>
            </div>
            <div ng-if="$ctrl.selectedResult.category.category_name != 'Smart Cities' &&
            		    $ctrl.selectedResult.category.category_name != 'Utilities' &&
            		    $ctrl.selectedResult.category.category_name != 'Service Providers' &&
            		    $ctrl.selectedResult.category.category_name != 'Automotive Fleet'">
                <p class="description">
                	<span class="link-button" ng-click="$ctrl.onclick('')">https://networks.nokia.com/innovation/iot</span>
               	</p>
            </div>
            </div>
            <div class="continue-wrapper">
                <span class="link-button continue" ng-click="$ctrl.cancel()">Continue</span>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.infoShown" class="backdrop"></div>
    <div ng-init="$ctrl.resize()" ng-if="$ctrl.infoShown" class="fade info2">
        <div class="info-wrapper">
            <span class="title">Nokia Go</span>
            <p class="description">This web-based Augmented Reality pilot app was created by the Nokia EDU team to raise awareness about the Internet of Things and our engagement in this field.</p>
            <p class="description">For more information about the Internet of Things, please visit the following website:</p>
            <p class="description">
            	<span class="link-button" ng-click="$ctrl.onclick('https://networks.nokia.com/innovation/iot')">https://networks.nokia.com/innovation/iot</span>
           	</p>
            <div class="continue-wrapper">
                <span class="info-button continue" ng-click="$ctrl.cancel()">Continue</span>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.error" class="backdrop"></div>
    <error ng-if="$ctrl.error" error="$ctrl.error" call-back="$ctrl.cancel()"></error>
    <footer from-gallery="$ctrl.fromGallery" images="$ctrl.images" selected-image="$ctrl.selectedImage"></footer>
</div>