<div ng-init="$ctrl.init()" id="footer" class="footer">
    <div class="carousel" ng-swipe-left="$ctrl.setIndex($ctrl.index+1)" ng-swipe-right="$ctrl.setIndex($ctrl.index-1)">
        <div ng-hide="!$ctrl.images[$ctrl.index]" class="img-wrapper" ng-click="$ctrl.setSelectedImage($ctrl.images[$ctrl.index])" ng-style="{'background-image': 'url('+$ctrl.images[$ctrl.index].base64+')'}">

        </div>
        <div ng-hide="!$ctrl.images[$ctrl.index+1]" class="img-wrapper" ng-click="$ctrl.setSelectedImage($ctrl.images[$ctrl.index+1])" ng-style="{'background-image': 'url('+$ctrl.images[$ctrl.index+1].base64+')'}">

        </div>
        <div ng-hide="!$ctrl.images[$ctrl.index+2]" class="img-wrapper" ng-click="$ctrl.setSelectedImage($ctrl.images[$ctrl.index+2])" ng-style="{'background-image': 'url('+$ctrl.images[$ctrl.index+2].base64+')'}">

        </div>
        <div ng-hide="!$ctrl.images[$ctrl.index+3]" class="img-wrapper" ng-click="$ctrl.setSelectedImage($ctrl.images[$ctrl.index+3])" ng-style="{'background-image': 'url('+$ctrl.images[$ctrl.index+3].base64+')'}">

        </div>
    </div>
</div>