<div ng-init="$ctrl.init()" id="error" class="error-wrapper">
        <img  ng-if="!$ctrl.faded" class="fade img-info" ng-src="./images/{{$ctrl.error.icon}}">
        <span  ng-if="!$ctrl.faded" class="fade oops">Oops..</span>
        <span  ng-if="!$ctrl.faded" class="fade message" ng-bind-html="$ctrl.error.message"></span>
        <img  ng-if="!$ctrl.faded" ng-click="$ctrl.continue()" class="fade btn-shutter-error" src="./images/Continue.png"/>
</div>